* {
    margin: 0;
    padding:0;
}

html, body {
    height: 100%;
    font-family: Tahoma;
}

form {
    width: 96%;
    max-width: 600px;
    margin:0 auto;
    text-align: center;
}

form fieldset {
    padding:20px 40px;
    background-color:rgba(139, 206, 148, 0.8);
    border: 1px solid #b4dbb6f8
}

form legend {
    text-align: left;
    font-size: 17px;
    color: rgb(130,130,130);
}

form input[type=text] {
    display:inline-block;
    margin-top: 30px;
    width: 80%;
    color: #473e3e49;
    padding: 10px 13px;
}

form input[type=text]:focus, form select:focus, form textarea:focus {
    outline: 0;
    background-color:rgba(255, 255, 255, 0.8);
    color: #473e3e49;
    font-size: 16px;
}

form select:hover {
    outline: 0;
    border: 0;
}


form select {
    width: calc(80% + 26px);
    margin-top: 30px;
    padding: 10px 13px;
    display:inline-block;
    color: #473e3e49;
}

form h2 {
    margin-top: 30px;
    color: rgb(109, 101, 101);

}

.radio-input {
    display: inline-block;
    text-align: left;
    margin-top: 20px;
}

.radio-input span {
    margin-left: 13px;
    font-size: 16px;
    color: rgb(130,130,130);
}

form input[type=submit] {
    margin-top: 30px;
    font-size: 16px;
    width: 140px;
    height: 40px;
    cursor: pointer;
    color: rgb(109, 101, 101);
    border: 2px solid rgb(130,130,130);
    background-color: rgb(140,140,140);
}

form textarea {
    margin-top: 30px;
    width: 80%;
    padding: 10px 13px;
    resize: none;
    height: 140px;
}